<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Developer Plugin</string>
	<key>CFBundleExecutable</key>
	<string>Developer Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSDeveloperPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Developer Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleVersion</key>
	<string>DA</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Development</string>
		</array>
		<key>description</key>
		<string>Developer Documentation Access</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;Developer Plugin&lt;/h1&gt;
&lt;p&gt;This Plugin adds developer applications like &lt;code&gt;Icon Composer.app&lt;/code&gt; to the catalog. This works for Xcode versions up to 4.2, when Xcode was still installed in &lt;code&gt;/Developer&lt;/code&gt; as well as newr Xcode versions (&amp;gt;= 4.3), when Xcode is installed in &lt;code&gt;/Applications/Xcode.app&lt;/code&gt;.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.dt.Xcode</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.dt.Xcode</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetDeveloper</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetDeveloperApplicationsXcode43</string>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>Developer Applications (Xcode &gt;= 4.3)</string>
					<key>requiresPath</key>
					<string>/Applications/Xcode.app</string>
					<key>settings</key>
					<dict>
						<key>descendIntoBundles</key>
						<true/>
						<key>folderDepth</key>
						<integer>6</integer>
						<key>folderTypes</key>
						<array>
							<string>&apos;APPL&apos;</string>
						</array>
						<key>parser</key>
						<string>QSDirectoryParser</string>
						<key>path</key>
						<string>/Applications/Xcode.app/Contents</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetDeveloperApplications42</string>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>Developer Applications (Xcode &lt;= 4.2)</string>
					<key>requiresPath</key>
					<string>/Developer/Applications</string>
					<key>settings</key>
					<dict>
						<key>folderDepth</key>
						<integer>3</integer>
						<key>folderTypes</key>
						<array>
							<string>&apos;APPL&apos;</string>
						</array>
						<key>parser</key>
						<string>QSDirectoryParser</string>
						<key>path</key>
						<string>/Developer/Applications</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetDeveloperDocumentationXML</string>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>Documentation</string>
					<key>source</key>
					<string>QSDeveloperPlugIn_Source</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetDeveloperFrameworks</string>
					<key>children</key>
					<array>
						<dict>
							<key>ID</key>
							<string>QSPresetDeveloperPublicFrameworks</string>
							<key>enabled</key>
							<integer>1</integer>
							<key>name</key>
							<string>Public Frameworks</string>
							<key>settings</key>
							<dict>
								<key>folderDepth</key>
								<integer>1</integer>
								<key>folderTypes</key>
								<array>
									<string>framework</string>
								</array>
								<key>kind</key>
								<string>Folder</string>
								<key>parser</key>
								<string>QSDirectoryParser</string>
								<key>path</key>
								<string>/System/Library/Frameworks</string>
								<key>scanContents</key>
								<integer>1</integer>
							</dict>
							<key>source</key>
							<string>QSFileSystemObjectSource</string>
						</dict>
						<dict>
							<key>ID</key>
							<string>QSPresetDeveloperPrivateFrameworks</string>
							<key>enabled</key>
							<integer>1</integer>
							<key>name</key>
							<string>Private Frameworks</string>
							<key>settings</key>
							<dict>
								<key>folderDepth</key>
								<integer>1</integer>
								<key>folderTypes</key>
								<array>
									<string>framework</string>
								</array>
								<key>kind</key>
								<string>Folder</string>
								<key>parser</key>
								<string>QSDirectoryParser</string>
								<key>path</key>
								<string>/System/Library/PrivateFrameworks</string>
								<key>scanContents</key>
								<integer>1</integer>
								<key>skipItem</key>
								<integer>1</integer>
							</dict>
							<key>source</key>
							<string>QSFileSystemObjectSource</string>
						</dict>
					</array>
					<key>enabled</key>
					<integer>1</integer>
					<key>name</key>
					<string>Frameworks</string>
					<key>source</key>
					<string>QSGroupObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetDeveloperHeaders</string>
					<key>children</key>
					<array>
						<dict>
							<key>ID</key>
							<string>QSPresetDeveloperAppKitHeaders</string>
							<key>enabled</key>
							<integer>1</integer>
							<key>name</key>
							<string>AppKit Headers</string>
							<key>settings</key>
							<dict>
								<key>folderTypes</key>
								<array>
									<string>h</string>
								</array>
								<key>kind</key>
								<string>Folder</string>
								<key>parser</key>
								<string>QSDirectoryParser</string>
								<key>path</key>
								<string>/System/Library/Frameworks/AppKit.framework/Headers</string>
								<key>scanContents</key>
								<integer>1</integer>
								<key>skipItem</key>
								<integer>1</integer>
							</dict>
							<key>source</key>
							<string>QSFileSystemObjectSource</string>
						</dict>
						<dict>
							<key>ID</key>
							<string>QSPresetDeveloperFoundationHeaders</string>
							<key>enabled</key>
							<integer>1</integer>
							<key>name</key>
							<string>Foundation Headers</string>
							<key>settings</key>
							<dict>
								<key>folderTypes</key>
								<array>
									<string>h</string>
								</array>
								<key>kind</key>
								<string>Folder</string>
								<key>parser</key>
								<string>QSDirectoryParser</string>
								<key>path</key>
								<string>/System/Library/Frameworks/Foundation.framework/Headers</string>
								<key>scanContents</key>
								<integer>1</integer>
								<key>skipItem</key>
								<integer>1</integer>
							</dict>
							<key>source</key>
							<string>QSFileSystemObjectSource</string>
						</dict>
						<dict>
							<key>ID</key>
							<string>QSPresetDeveloperCoreFoundationHeaders</string>
							<key>enabled</key>
							<integer>1</integer>
							<key>name</key>
							<string>CoreFoundation Headers</string>
							<key>settings</key>
							<dict>
								<key>folderTypes</key>
								<array>
									<string>h</string>
								</array>
								<key>parser</key>
								<string>QSDirectoryParser</string>
								<key>path</key>
								<string>/System/Library/Frameworks/CoreFoundation.framework/Headers</string>
								<key>scanContents</key>
								<integer>1</integer>
								<key>skipItem</key>
								<integer>1</integer>
							</dict>
							<key>source</key>
							<string>QSFileSystemObjectSource</string>
						</dict>
					</array>
					<key>enabled</key>
					<false/>
					<key>name</key>
					<string>Headers</string>
					<key>source</key>
					<string>QSGroupObjectSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>DeveloperFolderIcon</string>
			<key>name</key>
			<string>Developer</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSDeveloperPlugIn_Source</key>
			<string>QSDeveloperPlugIn_Source</string>
		</dict>
	</dict>
</dict>
</plist>
